# 02_05: Advanced Containers

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [13]:
# Tuples are similar lists but are not changable after they are created
# ... tuples are immutable
people = [("Michele", "Vallisneri", "July 15"),
          ("Albert", "Einstein", "March 14"),
          ("John", "Lennon", "October 9"),
          ("Jocelyn", "Bell Burnell", "July 15")]

In [54]:
# Tuples do not support arithmetical operations. For that, 
# a numpy array or a custom-designed class can be used.
# access the data elements by index
people[0][0]

'Michele'

In [6]:
people[0][1]

'Vallisneri'

In [15]:
# finds all list comprehensions with a given birthday
[person for person in people if person[2] == "July 15"]

[('Michele', 'Vallisneri', 'July 15'), ('Jocelyn', 'Bell Burnell', 'July 15')]

In [8]:
# the collections library allows this to happen
persontype = collections.namedtuple('person',['firstname', 'lastname', "birthday"])

In [9]:
michele = persontype("Michele", "Vallisneri", "July 15")

In [10]:
michele = persontype(lastname = "Vallisneri", firstname="Michele", birthday="July 15")

In [11]:
michele

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [16]:
michele[0], michele[1], michele[2]

('Michele', 'Vallisneri', 'July 15')

In [12]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'July 15')

In [18]:
# this won't run because it needs 3 arguments
persontype(people[0])

TypeError: person.__new__() missing 2 required positional arguments: 'lastname' and 'birthday'

In [19]:
persontype(*people[0])

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [20]:
namedpeople = [persontype(*person) for person in people]

In [21]:
namedpeople

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Albert', lastname='Einstein', birthday='March 14'),
 person(firstname='John', lastname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [22]:
[person for person in namedpeople if person.birthday == 'July 15']

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [24]:
# Python 3.7 introduced alternatives to tuples and dicts...dataclasses
from dataclasses import dataclass

In [27]:
@dataclass
class personclass:
    firstname: str
    lastname: str
    birthday: str = 'unknown'

In [28]:
michele = personclass('Michele', 'Vallisneri')

In [29]:
michele

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [30]:
michele = personclass(firstname='Michele', lastname='vallisneri')

In [31]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'vallisneri', 'unknown')

In [32]:
michele[0]

TypeError: 'personclass' object is not subscriptable

In [33]:
print(michele)

personclass(firstname='Michele', lastname='vallisneri', birthday='unknown')

In [39]:
# declares a fullname method
@dataclass
class personclass2:
    firstname: str
    lastname: str
    birthday: str = 'unknown'

    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [35]:
michele = personclass2('Michele', 'Vallisneri', 'July 15')

In [36]:
michele.fullname()

'Michele Vallisneri'

In [41]:
# default dict
def mydefault():
    return "I don't know"

In [43]:
# another variant of dict ... collecitons default dict
# have to provide a function that returns a default ... see above
questions = collections.defaultdict(mydefault)

In [44]:
questions['The meaning of life']

"I don't know"

In [45]:
questions

defaultdict(<function __main__.mydefault()>,
            {'The meaning of life': "I don't know"})

In [46]:
birthdays = {}

for person in namedpeople:
    if person.birthday in birthdays:
        birthdays[person.birthday].append(person.firstname)
    else:
        birthdays[person.birthday] = [person.firstname]

In [47]:
birthdays

{'July 15': ['Michele', 'Jocelyn'],
 'March 14': ['Albert'],
 'October 9': ['John']}

In [48]:
list()

[]

In [49]:
birthdays = collections.defaultdict(list)

for person in namedpeople:
    birthdays[person.birthday].append(person.firstname)

In [50]:
birthdays

defaultdict(list,
            {'July 15': ['Michele', 'Jocelyn'],
             'March 14': ['Albert'],
             'October 9': ['John']})